  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mitchell Ergen</a>

<!-- NavBar links -->
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="About" class="nav-link">About Me</a>
      </li>
      <li class="nav-item">
        <a href="Projects" class="nav-link">Projects</a>
      </li>
      <li class="nav-item">
        <a href="Education" class="nav-link">Education</a>
      </li>
      <li class="nav-item">
        <a href="Professional" class="nav-link">Professional</a>
      </li>
    </ul>
  </nav>

