<div class="row">
  <div class="col-sm-6">
    <div [routerLink]="[ './About']" class="card">
      <!-- <img src="../../assets/00100lPORTRAIT_00100_BURST20190720194206710_COVER.jpg" class="card-img-top" alt="Projects"> -->
          <h5 class="card-title">
            About Me
          </h5>
    </div>
  </div>
  <div class="col-sm-6">
    <div [routerLink]="[ '/Education']" class="card">
      <!-- <img src="../../assets/silver-desk-lamp-near-pile-of-books-1122530.jpg" class="card-img-top" alt="Projects"> -->
      <h5 class="card-title">Education</h5>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div [routerLink]="[ '/Projects']" class="card">
      <!-- <img src="../../assets/wooden-art-craft-2096611.jpg" class="card-img-top" alt="Education"> -->
      <h5 class="card-title">Projects</h5>
    </div>
  </div>
  <div class="col-sm-6">
    <div [routerLink]="[ '/Professional']" class="card">
      <!-- <img src="../../assets/incandescent-light-bulb-746496.jpg" class="card-img-top" alt="Professional"> -->
      <h5 class="card-title">Professional</h5>
    </div>
  </div>
</div>



